<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Home Lighting</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}" />
</head>

<body>
    <img id="lightImage"
         th:src="@{${imageUrl}}"/>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            setInterval(updateImageUrl, 1000);
        });

        function updateImageUrl(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/imageurl');
            xhr.onload = function(){
                document.getElementById("lightImage").src = xhr.responseText;
            };
            xhr.send();
        }
    </script>
</body>
</html>